<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/public/assets/about.css">
    <title>About</title>
</head>
<body>
    <div class="abt">
        <br>
    <h2> About Us</h2>
    <p style="padding: 5%;"> 
        <%=str%>
    </p>
   </div>
</body>
</html>